.list-content ul {
  margin-bottom: 20px
}
.list-content {
  background-color: #e9ebee !important;
  color: #111c26 !important;
  border: none !important;
  outline: none !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.list-content:hover {
  background-color: white !important;
  color: #111c26 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
