.home-container {
    text-align: center;
    min-height: calc(100vh - 60px);
    overflow: auto;
    position: relative;
    padding-top: 60px;
}

hr {
    margin: 5px 0px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p {
    font-family: inherit;
    font-weight: normal;
}

.home-title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,0.70);
    margin-top: 50px; 
}

.card {
    margin-bottom: 10px;
}

.col {
    padding: 0 5px;
}

.row-images:after {
    content: "";
    clear: both;
    display: table;
}

.col-image {
    float: left;
    width: 50%;
    padding: 2px;
}

.border-none-outline {
    outline: none;
    box-shadow: none !important;
    border: none;
    font-size: 14px;
    resize: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}


.graf-bg-container {
    width: 100%;
    height: 310px;
    overflow: hidden;
    perspective: 2000px;
    opacity: .7
}

.btn-like-share-comment {
    font-weight: 500;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    border-radius: 0px;
}
.btn-like-share-comment:hover {
    background-color: #ddd;
    color: #152944;
}
.btn-like-share-comment:active {
    color: #2d84eb;
}

.amount-like-share {
    font-size: 15px;
    color: #606770;
}

.input-comment {
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
}

.sticky-offset {
    top: 70px;
    z-index: 1;
}

.button-pill {
    background-color: #f1f1f1;
    border: none;
    color: #152944;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    outline: none !important;
    box-shadow: none;
    font-weight: 500;
    height: 40px;
    line-height: 0;
}

.button-pill:hover {
    background-color: #ddd;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    /*font-size: 18px;*/
    /*line-height: 1.33;*/
    border-radius: 25px;
}
.img-profile {
    width: 50px;
    height: 50px;
}

.btn-user-in-create {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
}
.icon-user-in-create {
    width: 50px;
    height: 50px;
}

.btn-user {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 25px;
}
.icon-user {
    width: 40px;
    height: 40px;
}

.username {
    color: #4267b2;
    font-size: 16px;
}

.graf-layout {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    /*margin: auto;*/
    position: relative;
    perspective: 2000px;
}

.graf-circle:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(1000deg) rotateX(1000deg) rotate(0deg);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 3px solid white;
    animation: scaleOne 5.5s infinite alternate linear;
    opacity: 0
}

@keyframes scaleOne {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(180deg) rotateX(90deg) rotate(1000deg);
        opacity: 0
    }
}

.graf-circle:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(135deg) rotateY(135deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    border-left: none;
    border-top: none;
    animation: scaleTwo 5s infinite alternate linear
}

@keyframes scaleTwo {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(135deg) rotateY(135deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(45deg) rotateY(45deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    border-bottom: none;
    border-left: none;
    animation: scaleThree 4.5s infinite alternate linear
}

@keyframes scaleThree {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(45deg) rotateY(45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(45deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    animation: scaleFour 4s infinite alternate linear
}

@keyframes scaleFour {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(5) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(135deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    border-bottom: none;
    border-left: none;
    animation: scaleFive 3.5s infinite alternate linear
}

@keyframes scaleFive {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(135deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(100deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 8px solid white;
    border-bottom: none;
    border-right: none;
    animation: scaleSix 3s infinite alternate linear
}

@keyframes scaleSix {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(100deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(7) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(-105deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid white;
    border-bottom: none;
    border-left: none;
    animation: scaleSeven 2.5s infinite alternate linear
}

@keyframes scaleSeven {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(-105deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(8) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(45deg) rotateX(45deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    border-bottom: none;
    border-left: none;
    animation: scaleEight 2s infinite alternate linear
}

@keyframes scaleEight {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(45deg) rotateX(45deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(9) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(135deg) rotateX(135deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    border-bottom: none;
    border-right: none;
    animation: scaleNine 1.5s infinite alternate linear
}

@keyframes scaleNine {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(135deg) rotateX(135deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(10) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(113deg) rotateX(115deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid yellow;
    border-bottom: none;
    border-right: none;
    animation: scaleTen 3s infinite alternate linear
}

@keyframes scaleTen {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateY(113deg) rotateX(115deg) rotate(1turn);
        opacity: 0
    }
}

.graf-circle:nth-child(11) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(0deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    border-bottom: none;
    border-right: none;
    animation: scaleEleven 2s infinite alternate linear
}

@keyframes scaleEleven {
    to {
        border-radius: 50%;
        transform: translate(-50%,-50%) rotateX(-45deg) rotateY(-45deg) rotate(1turn);
        opacity: 0
    }
}

.search-box {
    position: relative;
    color: #aaa;
    font-size: 16px;
    /*margin-left: 20px;*/
}

.search-box input {
    width: 100%;
    height: 40px;
    /*background: #fcfcfc;*/
    border: none;
    border-radius: 5px;
    /*box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;*/
}

.search-box input { text-indent: 32px;}
.search-box .fa-search {
    position: absolute;
    top: 14px;
    left: 10px;
}

.news-post {
    color: #4b4f56;
}
.news-post:hover {
    background-color: #2098f3;
    color: white;
}
